export('dietBalance')
export('nutrientPiePlot')
export('getNutrientNames')
export('nutrientIntakePlot')
export('getFoodGroups')
export('findFoodName')
export('subsetFoodRichIn')
export('nutrientsTimeTrend')
export('NutrienTrackeRapp')
import('ggplot2')
importFrom("stats", "prcomp")
import('shiny')
